<h1>Podcast Upload Status</h1>

<div class="row">
  <section class="podcast_files">
    <%= render 'podcast_files' %>
  </section>
  <%= @podcast.title %>
  <span class="btn btn-mini btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Select Podcast File...</span>
    <%= file_field :podcast, :podcast_file, accept: 'audio/' %>
  </span>
</div>

<!-- TODO: Find an alternative way to handle storing these fields -->
<%= hidden_field_tag :podcast_upload_url, upload_api_podcast_url %>
<%= hidden_field_tag :user_auth_token, Series.first.user.auth_token %>

<!-- TODO: display upload status -->
<div id="progress" class="progress">
  <div class="progress-bar progress-bar-success"></div>
</div>
